*.ipynb_checkpoints/
__pycache__/
Python/Collisions.csv
Python/districts_seattle.dbf
Python/districts_seattle.prj
Python/districts_seattle.qpj
Python/districts_seattle.shp
Python/districts_seattle.shx
Python/dzielnice.csv
Python/apka_wypadki.png
ML/rideshare_kaggle.csv
